h1 {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1040px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px; 
}

h2 {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1040px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px; 
}

.participation {
    background: rgb(133, 134, 95, .6);
    padding: 15px;
    width: 50%;
    border-radius: 25px;
    float: right;
}

.summary {
    background: rgb(133, 134, 95, .6);
    padding: 15px;
    width: 50%;
    border-radius: 25px;
}

header::after {
    background: url(https://banner2.cleanpng.com/20180824/ehe/kisspng-barbed-wire-portable-network-graphics-clip-art-ima-border-line-43474-2-shop-of-clipart-library-5b7fcd72cadf82.482282101535102322831.jpg) 40px no-repeat;
    clear: right;
    content: '';
    display: block;
    float: left;
    left: 50%;
    position: relative;
    width: 50%;
}

body {
    background-color: rgb(206, 183, 147, .50); 
}

h3 {
    color: #dd3b2a;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25em;
    margin: 0.5em 0;
}